@use "../../../styles/variables.scss" as vars;

.navbar {
  height: 10%;
  padding-left: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  color: vars.$primary-color;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  &__logo {
    display: flex;
    align-items: center;
    .app-name {
      font-size: 1.5rem;
      font-weight: bold;
      cursor: pointer;
    }
  }

  &__links {
    margin-right: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
    list-style: none;
    gap: 1rem;

    a {
      color: vars.$primary-color;
      text-decoration: none;
      cursor: pointer;
      font-weight: bold;
      transition: color 0.3s;

      &:hover,
      &.active {
        color: #ffc107;
      }
    }
  }

  &__logout {
    background-color: #ff5722;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #e64a19;
    }
  }

  @media (max-width: 768px) {
    &__links {
      gap: 0.5rem;
    }

    &__logout {
      align-self: center;
      margin-top: 0.5rem;
    }
  }
}
